<div class="tooltips cmd cmd-widget" data-type="info" data-subtype="string" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#" style="display: block;">
	<div class="content-xs">
		<span class="cmdName #hide_name#">#name_display# </span> 
		<br/>
		<img class="state" src="" alt="Condition actuelle" />
	</div>
	<script>
		jeedom.cmd.update['#id#'] = function(_options){
			$('.cmd[data-cmd_id=#id#]').attr('title','Valeur du '+_options.valueDate+', collectée le '+_options.collectDate)
			let value = _options.display_value;			
			$('.cmd[data-cmd_id=#id#] .state').attr('src',value.replace(".png", "-big.png"));
		}
		jeedom.cmd.update['#id#']({display_value:'#state#',valueDate:'#valueDate#',collectDate:'#collectDate#',alertLevel:'#alertLevel#'});
	</script>
</div>
