<div class="eqLogic eqLogic-widget allowResize" data-eqLogic_id="#id#" data-version="#version#" style="width: #width#;height: #height#;min-height:245px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#; padding : 5px;" data-eqLogic_uid="#uid#" data-category="#category#">
   #i#
   <center class="widget-name">
		<a href="#eqLink#" class="reportModeHidden" style="font-size : 1.5em;#hideEqLogicName#">#name#</a>
	</center>

 	<center>
            <div style="float:left;width:50%">
            	<div style="float:left;width:60%;padding-left:30px;">
                    <div class="meteo-content">
                        <img src="https://www.prevision-meteo.ch/style/images/icon/#fcst_day_0_CONDITION_KEY#-big.png" /> 
                    </div>
                    <div class="meteo-content" style="padding-left:10px;"> 
                        <div class="meteo-content" style="text-align:center;margin-left:10px;">
                        <span><i class="fa fa-tint"></i> #fcst_day_0_RH2m#</span> % <br />    
                        </div> 
						<div class="meteo-content " style="text-align:center;margin-left:10px;margin-top:5px;">
                        <span><i class="icon meteo-orage"></i> #fcst_day_0_KINDEX# %</span><br />
                        </div>                        
                    </div>
                </div>
                
                <div style="float:left;width:40%">
                    <div class="meteo-content" style="text-align:center;margin-bottom:5px;"><br /><span style="margin-left:15px;font-size:2em;font-weight:bold;">#fcst_day_0_TMP2m#°</span><br /></div>
                    <div class="meteo-content " style="text-align:center;margin-bottom:5px;margin-left:15px;"><span style="font-size:1em;font-weight:bold;">#fcst_day_0_CONDITION#</span><br /></div>
                    <div class="meteo-content " style="text-align:center;font-size:1.5em"><span style="font-weight:bold;">#fcst_day_0_tmin#</span> | <span style="font-weight:bold;">#fcst_day_0_tmax#</span></div>

                    <div class="meteo-content " style="text-align:center;margin-left:10px;margin-bottom:10px;"><br /><span><i class="fa fa-tachometer"></i> #fcst_day_0_PRMSL# Hpa</span><br /></div>
                    <div class="meteo-content " style="text-align:center;margin-left:10px;margin-bottom:5px;"><span><i class="fa fa-flag"></i> #fcst_day_0_WNDSPD10m# km/h</span><br /></div>
                    <div class="meteo-content " style="text-align:center;margin-left:10px;margin-bottom:10px;"><span>#nameWind#</span><br /></div>
                </div>                
            </div>
            <div style="float:left;width:50%;">
            	<div class="meteo-content">
                	<br />
                    <table style="background-color: transparent !important">
                    <tr>
                           <th>#fcst_day_1_day_long#</th>
                           <th>#fcst_day_2_day_long#</th>
                           <th>#fcst_day_3_day_long#</th>
                           <th>#fcst_day_4_day_long#</th>
                       </tr>
                       <tr>
                           <td><img src="#fcst_day_1_icon#" width="45" height="45"  />  </td>
                           <td><img src="#fcst_day_2_icon#" width="45" height="45"  />  </td>
                           <td><img src="#fcst_day_3_icon#" width="45" height="45"  />  </td>
                           <td><img src="#fcst_day_4_icon#" width="45" height="45"  />  </td>
                       </tr>
                       <tr>
                           <td>#fcst_day_1_tmin# | #fcst_day_1_tmax#</td>
                           <td>#fcst_day_2_tmin# | #fcst_day_2_tmax#</td>
                           <td>#fcst_day_3_tmin# | #fcst_day_3_tmax#</td>
                           <td>#fcst_day_4_tmin# | #fcst_day_4_tmax#</td>
                       </tr>
                    </table>                
                </div>
                <div style="text-align:center;margin-top:5px;">
                	<div class="meteo-content " style="text-align:center;margin-bottom:10px;"><span >Pluie: #fcst_day_0_APCPsfc#  mm</span></div>
                    <div class="meteo-content " style="text-align:center;"><span> Pluie totale : #rain_0# mm</span></div>
                </div>
            </div>
	</center>
 
  
    
</div>

<style>
	.meteo-content th , .meteo-content td {
		padding:5px;
		text-align:center;
	}
	

</style>

<script src="/plugins/meteoprev/desktop/js/barb.js"></script> 
<script>
	var wWidth = $(window).width();
	var dWidth = wWidth * 0.8;
	var wHeight = $(window).height();
	var dHeight = wHeight * 0.8;
	$('#md_modal2').dialog({
		width: dWidth,
		height: dHeight,
		autoOpen: false,
		modal: true,
		title: "Graphique"
	});
	
function stats_#id#(){
	$('#md_modal2').dialog({title: "#name#"});
	$('#md_modal2').load('index.php?v=d&plugin=meteoprev&modal=modal.meteoprev&id=#id#');		
	$('#md_modal2').dialog('open');
}

</script>
