<div class="eqLogic eqLogic-widget allowResize #eqType#" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="width: #width#;height: #height#;min-height:225px;#style#;">
	<script src="plugins/meteoprev/desktop/js/dashboard.js"></script>
	<span class="statusCmd"></span>
	<span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
	<i class="fas fa-sync"></i>
	</span>
	<span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>	
	<span id="show_graph_#id#" class="pull-left cursor"><i class="fas fa-chart-bar"></i></span>
	<center class="widget-name"><a href="#eqLink#">#name_display# <span class="object_name">#object_name#</span></a></center>
	<div class="verticalAlign">
		<div id="mpv_forecast_#id#" class="row">
			<br />
			<div style="float:left;width:50%;margin-top: -40px;">
				<div style="text-align: center;float:left;width:50%;">
					<div class="meteo-content" style="padding-top: 15px;">
						<img src="https://www.prevision-meteo.ch/style/images/icon/#fcst_day_0_CONDITION_KEY#-big.png" width="100" height0"100" />
					</div>
					<div class="meteo-content">
						<div class="meteo-content">
							<span>
								<i class="fas fa-tint"></i>
								#fcst_day_0_RH2m#
							</span>
							% </div>
					</div>
				</div>
				<div style="text-align:center;float:left;width:40%">
					<div class="meteo-content" style="margin-bottom:5px;"><br />
						<span style="font-size:2em;font-weight:bold;">
							#fcst_day_0_TMP2m#°
						</span>
						<br />
					</div>
					<div class="meteo-content " style="margin-bottom:5px;">
						<span style="font-size:1em;font-weight:bold;">
							#fcst_day_0_CONDITION#
						</span>
						<br />
					</div>
					<div class="meteo-content " style="font-size:1.5em">
						<span style="font-weight:bold;">
							#fcst_day_0_tmin#°
						</span>
						|
						<span style="font-weight:bold;">
							#fcst_day_0_tmax#°
						</span>
					</div>
					<div class="meteo-content " style="margin-bottom:10px;"><br />
						<span>
							<i class="fas fa-tachometer-alt"></i>
							#fcst_day_0_PRMSL# Hpa
						</span>
						<br />
					</div>
					<div class="meteo-content " style="margin-bottom:5px;">
						<span>
							<i class="fas fa-flag"></i>
							#fcst_day_0_WNDSPD10m# km/h
						</span>
						<br />
					</div>
					<div class="meteo-content " style="margin-bottom:10px;">
						<span>
							<i class="icon meteo-orage"></i>
							#fcst_day_0_KINDEX# %
						</span>
						<br />
					</div>
				</div>
			</div>
			<div style="float:left;width:50%;margin-top: -40px;">
				<div class="meteo-content">
					<br />
					<table>
						<tr style="background-color: transparent !important">
							<th>#fcst_day_1_day_long#</th>
							<th>#fcst_day_2_day_long#</th>
							<th>#fcst_day_3_day_long#</th>
							<th>#fcst_day_4_day_long#</th>
						</tr>
						<tr style="background-color: transparent !important">
							<td><img src="#fcst_day_1_icon#" width="45" height="45"  /></td>
							<td><img src="#fcst_day_2_icon#" width="45" height="45"  /></td>
							<td><img src="#fcst_day_3_icon#" width="45" height="45"  /></td>
							<td><img src="#fcst_day_4_icon#" width="45" height="45"  /></td>
						</tr>
						<tr style="background-color: transparent !important">
							<td>#fcst_day_1_tmin# | #fcst_day_1_tmax#</td>
							<td>#fcst_day_2_tmin# | #fcst_day_2_tmax#</td>
							<td>#fcst_day_3_tmin# | #fcst_day_3_tmax#</td>
							<td>#fcst_day_4_tmin# | #fcst_day_4_tmax#</td>
						</tr>
					</table>
				</div>
				<div style="text-align:center;margin-top:5px;">
					<div class="meteo-content " style="margin-bottom:10px;">
						<span >
							Isotherme : #fcst_day_0_HGT0C#  m
						</span>
					</div>
					<div class="meteo-content " >
						<span>
							Point de rosée : #fcst_day_0_DPT2m# °C
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="mpv_graph_#id#" style="position: relative;">
				<div class="mpv_graph_#id#" id="mpv_container_#id#" style="padding-left: 15px;height: 210px; max-width:#width#;display:none">
				</div>
				<div class="row mpv_graph_#id#" id="menubutton_#id#">
					<button type="button" class="day_choose_#id# btn btn-primary" data-count="0">#fcst_day_0_day_long#</button>
					<button type="button" class="day_choose_#id# btn btn-primary" data-count="1">#fcst_day_1_day_long#</button>
					<button type="button" class="day_choose_#id# btn btn-primary" data-count="2">#fcst_day_2_day_long#</button>
					<button type="button" class="day_choose_#id# btn btn-primary" data-count="3">#fcst_day_3_day_long#</button>
					<button type="button" class="day_choose_#id# btn btn-primary" data-count="4">#fcst_day_4_day_long#</button>
				</div>			
		</div>		
	</div>
	<script>
		if ('#refresh_id#' != '') {
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
				jeedom.cmd.execute({id: '#refresh_id#'})
			})
		} else {
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove()
		}
		$('.eqLogic[data-eqLogic_uid=#uid#] .day_choose_#id#').on('click', function () {
			_count = $(this).attr('data-count');
			meteoprevGraph('#station#', _count, 'mpv_container_#id#', 200);
		});	
		 
		$('.eqLogic[data-eqLogic_uid=#uid#] #show_graph_#id#').click(function(){
		   $("#mpv_forecast_#id#, .mpv_graph_#id#").slideToggle("slow");
		});			 
		meteoprevGraph('#station#', 0, 'mpv_container_#id#', 200);
	</script>
	<style>
		div[data-eqtype="meteoprev"] .meteo-content th , .meteo-content td {
			padding:5px;
			text-align:center;
		}
		div[data-eqtype="meteoprev"] #show_graph_#id# {
			position:absolute;
			left:5px;
			margin-top: 2px !important;	
			z-index: 999;
		}
		div[data-eqtype="meteoprev"].hideEqLogicName #menubutton_#id#  {
			position:absolute;
			top:-10px;
			left:25%;
			display:none
			
		}		
		div[data-eqtype="meteoprev"]:not(.hideEqLogicName) #menubutton_#id#  {
			position:absolute;
			top: -1px;
			left:25%;
			display:none
		}
	</style>	
	
</div>
