<div class="eqLogic eqLogic-widget allowResize" data-eqLogic_id="#id#" data-version="#version#" style="width: #width#;height: #height#;min-height:245px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#; padding : 5px;" data-eqLogic_uid="#uid#" data-category="#category#">
	<center class="widget-name">
		<span class="warning" title="#alert_name#">
			<i class='#alert_icon#'></i>
		</span>
		<span class="cmd refresh pull-right cursor">
			<i class="fas fa-chart-bar"></i>
		</span>
		<span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
		<a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
	</center>
 	<center>
		<div style="float:left;width:50%">
			<div style="float:left;width:60%;padding-left:30px;">
				<div class="meteo-content">
					<img src="https://www.prevision-meteo.ch/style/images/icon/#fcst_day_0_CONDITION_KEY#-big.png" /> 
				</div>
				<div class="meteo-content" style="padding-left:10px;"> 
					<div class="meteo-content">
					<span><i class="fas fa-tint"></i> #fcst_day_0_RH2m#</span> % <br />    
					</div> 
					#condition#
				</div>
			</div>
			<div style="text-align:center;float:left;width:40%">
				<div class="meteo-content" style="margin-bottom:5px;"><br /><span style="font-size:2em;font-weight:bold;">#current_condition_tmp#°</span><br /></div>
				<div class="meteo-content " style="margin-bottom:5px;"><span style="font-size:1em;font-weight:bold;">#fcst_day_0_CONDITION#</span><br /></div>
				<div class="meteo-content " style="font-size:1.5em"><span style="font-weight:bold;">#fcst_day_0_tmin#°</span> | <span style="font-weight:bold;">#fcst_day_0_tmax#°</span></div>

				<div class="meteo-content " style="margin-bottom:10px;"><br /><span><i class="fas fa-tachometer-alt"></i> #fcst_day_0_PRMSL# Hpa</span><br /></div>
				<div class="meteo-content " style="margin-bottom:5px;"><span><i class="fas fa-flag"></i> #fcst_day_0_WNDSPD10m# km/h</span><br /></div>
				<div class="meteo-content " style="margin-bottom:10px;"><span><i class="icon meteo-orage"></i> #fcst_day_0_KINDEX# %</span><br /></div>					
			</div>                
		</div>
		<div style="float:left;width:50%;">
			<div class="meteo-content">
				<br />
				<table>
				<tr>
					   <th>#fcst_day_1_day_long#</th>
					   <th>#fcst_day_2_day_long#</th>
					   <th>#fcst_day_3_day_long#</th>
					   <th>#fcst_day_4_day_long#</th>
				   </tr>
				   <tr style="background: transparent !important">
					   <td><img src="#fcst_day_1_icon#" width="45" height="45"  />  </td>
					   <td><img src="#fcst_day_2_icon#" width="45" height="45"  />  </td>
					   <td><img src="#fcst_day_3_icon#" width="45" height="45"  />  </td>
					   <td><img src="#fcst_day_4_icon#" width="45" height="45"  />  </td>
				   </tr>
				   <tr style="background: transparent !important">
					   <td>#fcst_day_1_tmin# | #fcst_day_1_tmax#</td>
					   <td>#fcst_day_2_tmin# | #fcst_day_2_tmax#</td>
					   <td>#fcst_day_3_tmin# | #fcst_day_3_tmax#</td>
					   <td>#fcst_day_4_tmin# | #fcst_day_4_tmax#</td>
				   </tr>
				</table>                
			</div>
			<div style="text-align:center;margin-top:5px;">
				<div class="meteo-content " style="margin-bottom:10px;"><span >Isotherme : #fcst_day_0_HGT0C#  m</span></div>
				<div class="meteo-content " ><span> Point de rosée : #fcst_day_0_DPT2m# °C</span></div>
			</div>
		</div>
	</center>
	 <script>
		var wWidth = $(window).width();
		var dWidth = wWidth * 0.8;
		var wHeight = $(window).height();
		var dHeight = wHeight * 0.8;
		$('#md_modal2').dialog({
			width: dWidth,
			height: dHeight,
			autoOpen: false,
			modal: true,
			title: "Graphique"
		});
		$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
			$('#md_modal2').dialog({title: "#name#"});
			$('#md_modal2').load('index.php?v=d&plugin=meteoprev&modal=modal.meteoprev&id=#id#');		
			$('#md_modal2').dialog('open');			
			
		});	
	</script>
</div>

<style>
	.meteo-content th , .meteo-content td {
		padding:5px;
		text-align:center;
	}
</style>



