<div class="eqLogic eqLogic-widget allowResize" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="width: #width#;height: #height#;min-height:225px;#style#;">
	<script src="plugins/meteoprev/desktop/js/dashboard.js"></script>
	<center class="widget-name">
		<span class="warning" title="#alert_name#">
			<i class='#alert_icon#'></i>
		</span>
		<span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
			<i class="fas fa-sync"></i>
		</span>
		<span id="show_graph_#id#" class="pull-left cursor"><i class="fas fa-chart-bar"></i></span>
		<span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
		<a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
	</center>
 	<center>
		<div id="mpv_forecast_#id#" class="row">
			<br/>		
			<div style="float:left;width:50%">
				<div style="float:left;width:60%;">
					<div class="meteo-content" style="padding-top: 15px;">
						<img src="https://www.prevision-meteo.ch/style/images/icon/#fcst_day_0_CONDITION_KEY#-big.png" width="100" height0"100"/> 
					</div>
					<div class="meteo-content"> 
						<div class="meteo-content">
						<span><i class="fas fa-tint"></i> #fcst_day_0_RH2m#</span> % <br />    
						</div> 
						#condition#
					</div>
				</div>
				<div style="text-align:center;float:left;width:40%">
					<div class="meteo-content" style="margin-bottom:5px;"><br /><span style="font-size:2em;font-weight:bold;">#current_condition_tmp#°</span><br /></div>
					<div class="meteo-content " style="margin-bottom:5px;"><span style="font-size:1em;font-weight:bold;">#fcst_day_0_CONDITION#</span><br /></div>
					<div class="meteo-content " style="font-size:1.5em"><span style="font-weight:bold;">#fcst_day_0_tmin#°</span> | <span style="font-weight:bold;">#fcst_day_0_tmax#°</span></div>

					<div class="meteo-content " style="margin-bottom:10px;"><br /><span><i class="fas fa-tachometer-alt"></i> #fcst_day_0_PRMSL# Hpa</span><br /></div>
					<div class="meteo-content " style="margin-bottom:5px;"><span><i class="fas fa-flag"></i> #fcst_day_0_WNDSPD10m# km/h</span><br /></div>
					<div class="meteo-content " style="margin-bottom:10px;"><span><i class="icon meteo-orage"></i> #fcst_day_0_KINDEX# %</span><br /></div>			
				</div>                
			</div>
			<div style="float:left;width:50%;">
				<div class="meteo-content">
					<br />
					<table>
					<tr style="background-color: transparent !important">
						   <th>#fcst_day_1_day_long#</th>
						   <th>#fcst_day_2_day_long#</th>
						   <th>#fcst_day_3_day_long#</th>
						   <th>#fcst_day_4_day_long#</th>
					   </tr>
					   <tr style="background-color: transparent !important">
						   <td><img src="#fcst_day_1_icon#" width="45" height="45"  />  </td>
						   <td><img src="#fcst_day_2_icon#" width="45" height="45"  />  </td>
						   <td><img src="#fcst_day_3_icon#" width="45" height="45"  />  </td>
						   <td><img src="#fcst_day_4_icon#" width="45" height="45"  />  </td>
					   </tr>
					   <tr style="background-color: transparent !important">
						   <td>#fcst_day_1_tmin# | #fcst_day_1_tmax#</td>
						   <td>#fcst_day_2_tmin# | #fcst_day_2_tmax#</td>
						   <td>#fcst_day_3_tmin# | #fcst_day_3_tmax#</td>
						   <td>#fcst_day_4_tmin# | #fcst_day_4_tmax#</td>
					   </tr>
					</table>                
				</div>
				<div style="text-align:center;margin-top:5px;">
					<div class="meteo-content " style="margin-bottom:10px;"><span >Isotherme : #fcst_day_0_HGT0C#  m</span></div>
					<div class="meteo-content " ><span> Point de rosée : #fcst_day_0_DPT2m# °C</span></div>
				</div>
			</div>			
		</div>
		<div class="row">
			<center>
				<div class="mpv_graph_#id#" id="mpv_container_#id#" style="height: 210px; max-width:#width#;display:none">
				</div>
				<div class="row mpv_graph_#id#" style="position:absolute;top:25px;left:150px;display:none">
					<button type="button" class="day_choose btn btn-primary" data-count="0">#fcst_day_0_day_long#</button>
					<button type="button" class="day_choose btn btn-primary" data-count="1">#fcst_day_1_day_long#</button>
					<button type="button" class="day_choose btn btn-primary" data-count="2">#fcst_day_2_day_long#</button>
					<button type="button" class="day_choose btn btn-primary" data-count="3">#fcst_day_3_day_long#</button>
					<button type="button" class="day_choose btn btn-primary" data-count="4">#fcst_day_4_day_long#</button>
				</div>			
			</center>
		</div>		
	</center>
	<script>
		if ('#refresh_id#' != '') {
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
				jeedom.cmd.execute({id: '#refresh_id#'})
			})
		} else {
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove()
		}
		$('.eqLogic[data-eqLogic_uid=#uid#] .day_choose').on('click', function () {
			meteoprevGraph('#station#', $(this).attr('data-count'), 'mpv_container_#id#', 200);
		});	
		 
		$('.eqLogic[data-eqLogic_uid=#uid#] #show_graph_#id#').click(function(){
		   $("#mpv_forecast_#id#, .mpv_graph_#id#").slideToggle("slow");
		});			 
		meteoprevGraph('#station#', 0, 'mpv_container_#id#', 200);
	</script>
</div>

<style>
	.meteo-content th , .meteo-content td {
		padding:5px;
		text-align:center;
	}
</style>



